.table-row-cell {
    -fx-cell-size: 30px;
     -fx-font-size: 12px;
}

.table-view .column-header-background {
    -fx-background-color: #e0e0e0;
    -fx-padding: 12px;
}

.table-view {
    -fx-background-color: #f9f9fb;
    -fx-border-color: #dcdcdc;
    -fx-font-size: 13px;
}

.table-view .column-header {
    -fx-border-color: #7E7E7E;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-alignment: center;
    -fx-font-family: "Georgia";
}

.table-row-cell:filled:selected {
    -fx-background-color: #4a90e2;
    -fx-text-fill: white;
}

.table-row-cell:hover {
    -fx-background-color: #e8f0fe;
}

.button {
    -fx-background-color:  #f5f5f5;
    -fx-border-color: #7E7E7E;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-font-family: "Georgia";

}

.button:hover {
    -fx-background-color: #e0e0e0;
}


